body {
        width: 100%;
	height:100%;
	color:##ffffffff;
	background-color:#F4F4F4;
	overflow-x: hidden;
  	margin-top: 0px;
 	margin-right: 0px;
 	margin-bottom: 0px;
  	margin-left: 0px
}
html{
	width: 100%;
	height:100%;
	font-family: Helvetica 
}
.topnav {
    z-index: 100;
    background-color: #F4F4F4;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
}
.topnav a {
    display: inline-block;
    color: #373737;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 14px;
    margin: 0px -3px;
}
/* Change the color of links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #F9E6E5;
    color: F4F4F4;
}
/* Add an active class to highlight the current page*/
.active {
    background-color: #F9E6E5;
    color: F4F4F4;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
a{
  color: #373737;
}
.main-image {
/*    background-image: url("../Files/Images/Wrinkles\ \(Extra\ Green\).jpg");*/
    text-align: center;
    margin-top: 0px;
    height: 100%;    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-image img {
    opacity: 1;
    height: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-content {
	width: 80%;
	margin: 0 auto;
	background-color: white;
}
.main-content p {
        width: 90%;
    	margin: 0 auto;
}
.row a{
     opacity: 1;
     z-index: 1;
}
.rowPhoto{
   position: relative;
   z-index: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}
.text {
  color: #373737;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.rowPhoto:hover .overlay {
   opacity: .6;
}